{% extends "base.html" %}

{% block content %}
<style>
    .table-responsive{
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }   
    
    .hidden {
      display: none;
    }
</style>

<br><br>

<div class="container" style="text-align: center">
    <div class="jumbotron jumbotron-fluid rounded">
        <h2>Closest Matching Cities To:</h2>
        <h4>{{ df.iloc[[0]]["City"][0] }}, {{ df.iloc[[0]]["State"][0] }}</h4>
    </div>
</div>

<div class="container">
    <div class="container">
        <table class="table table-bordered table-hover auto-collapse" id="results_table">
            <thead class="thead-light">
                <tr>
                    <th class="col-md-">City</th>
                    <th class="col-md-">State</th>
                    <th class="col-md-">Distance Measurement</th>
                    <th class="col-md-">Zillow Home Listings</th>
                    <th class="col-md-">Google Maps</th>
                    <th class="col-md-">Wikipedia Entries</th>
                </tr>
            </thead>
            <tbody>

            {% for x in df.iterrows() %} 
                <tr class="hidden">
                    {% if loop.index0 != 0 %}
                    <td><strong>{{ x[1]['City'] }}</strong></td>
                    <td><strong>{{ x[1]['State'] }}</strong></td>
                    <td><strong>{{ x[1]['Computed Distance'] }}</strong></td>
                    <td><strong><a href="https://www.zillow.com/homes/{{ x[1]['City'] }},-{{ x[1]['State_abbr'] }}_rb/" target="_blank">Zillow</a></strong></td>
                    <td><strong><a href="https://www.google.com/maps/place/{{ x[1]['City'] }},+{{ x[1]['State_abbr'] }}/" target="_blank">Google Maps</a></strong></td>
                    <td><strong><a href="https://en.wikipedia.org/wiki/{{ x[1]['City'] }}, {{ x[1]['State'] }}" target="_blank">Wikipedia</a></strong></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-block btn-lg btn-primary" id="display">Show More Matches</button>
    </div>
</div>



<div class="space" style="padding-top: 400px;"> </div>

<div class="container">
    <div>
        <h3 style="text-align: center">Results Data Table</h3>
    </div>
    <!--      Table         --> 
    <div class="container">
        <div class="table-responsive">
            {{data | safe}}
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {
        $('#results_table .hidden').slice(0, 6).removeClass('hidden');
    });
    
    $("#display").click(function() {
        $('#results_table .hidden').slice(0, 6).removeClass('hidden');
        if ($('#results_table .hidden').length == 0) {
            $(this).addClass('hidden');
        }
    });

</script>

{% endblock %}
    